@import url("https://fonts.googleapis.com/css?family=Livvic&display=swap");

* {
  font-family: "Livvic", sans-serif;
}

#clg {
  display: none;
}

.header {
  color: #545454;
}

a {
  color: #0000ee;
}

.section {
  margin: 0 auto;
}

table.hovertable {
  font-size: 14px;
  color: #333333;
  border-width: 1px;
  border-color: #000000;
  border-collapse: collapse;
}
table.hovertable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #000000;
}

table.hovertable tr {
}

table.hovertable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #000000;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

.default {
  border-color: #e7e7e7;
  color: black;
}
